# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/
.env.local
.env.development
tsconfig.ts
tsconfig.json
vue.config.js
public/file
src/api
src/assets
src/components/appbar
src/components/avata-image
src/components/bottom-navigation
src/components/buttons
src/components/checkbox
src/components/date-pickers
src/components/dialog
src/components/form
src/components/info-page
src/components/overlay
src/components/progress-bar
src/components/stepper
src/components/tab-bar
src/components/text
src/components/text-field
src/components/use-guide
src/components/v-card
src/layouts
src/plugins/bridge.plug.js
src/plugins/index.js
src/store/modules/CollectorService.js
src/store/modules/Common.js
src/store/modules/EmitterService.js
src/store/modules/NewBid.js
src/store/modules/RouteUrl.js
src/store/modules/SignUp.js
src/store/modules/User.js
src/styles
src/view/user/acc
src/view/user/etc/terms
src/view/user/etc/useGuide
src/view/user/etc/infoPage.vue
src/view/user/etc/NeuruInfo.vue
src/view/user/etc/NoticeList.vue
src/view/user/etc/Question.vue
src/view/user/etc/QuestionContent.vue
src/view/user/etc/ServiceUserGuide.vue
src/view/user/etc/SplashView.vue
src/view/user/etc/InfoPage.vue
src/view/user/service
src/components/bottomsheet
src/components/textfield
src/view/user/acc




# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

